* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, 
body {
  color: rgb(0, 0, 0);
  background-color: #3f3fb6;
  font-family: Lato, sans-serif;
  margin-top: 40px;
  height: 100vh;
}

h1 {
  color: #ffffff;
  font-size: 25px;
  font-family: Roboto, sans-serif;
  text-align: center;
  margin: 20px 0;
}

.aplicacion-tareas {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}


.logo-contenedor {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.logo-header {
  width: 180px;
  height: 80px;
  border-radius: 30px 30px 30px 30px;
}


.tareas-lista-principal {
  width: 600px;
  min-height: 500px;
  color: white;
  padding: 25px;
  margin: 10px;
  border-radius: 26px;
  background: linear-gradient(red , black);
}

@media (max-width: 360px) {
  .tareas-lista-principal {
    width: 300px;
  }
}
